.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
h1 {
  text-align: center;
  font-size: 3rem;
}
.card {
 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  color: purple;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: yellow;
  margin-bottom: 30px;
  border:2px solid red;
  
}
.card p{
  
  border:2px solid blue;
}
/* .card img {
  width: 23vw;
  height: 150px;
  border-radius: 3px;
  margin-right: 20px;
} */
.name {
  font-size: 1.5rem;
  display:flex;
  flex-direction: column;
  width: 25vw;
}
/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
