.App {
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid orange;
  width:100%;
}
.container{
  border:2px solid black;
  
}
.card {
  padding: 20px;
  width: 800px;
  align-items: center;
  font-size: 2rem;
  color: black;
  border-radius: 5px;
  box-shadow: 0 10px 16px -2px purple;
}

.card p {
  width: 700px;
}


.card img {
  border-radius: 3px;
  margin-right: 20px;
  box-shadow: 0 10px 16px -2px gray;
}
