/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body{
  background-color:pink;
  display:flex;
  justify-content: center;
}
html body
* {
  font-family: 'Saira Condensed', sans-serif;
  box-sizing: border-box;
  background-color: bisque;
  margin:50px;
}
html {
  font-size: 62.5%;
  color:green;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
